<p>Twitter Bootstrap Basics in this episode you will learn how to include Bootstrap into Rails application with the twitter-bootstrap-rails gem.

More on Twitter Bootstrap in this episode continues on the Bootstrap project showing how to display flash messages, add form validations with SimpleForm, customize layout with variables, and switch to using Sass. (Note: This episode is pro episode)</p>