<div class="jumbotron">
  <h1><i class="fa fa-circle-o-notch"></i>Stuckdo</h1>
  <p> This is my smart to-do list in ruby application</p>
  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
</div>